

<body>
    <!-- Top Navigation Bar -->
        <div class="topnav">
            <h1>Projects</h1>
        </div>
    
    
    
    <!-- body content -->  
    <div class="body-text">
    <!-- Simscale and video embed -->
        <h1>Simscale  Project</h1>
        <p>
            Driven by my passion for Formula 1 and automotive engineering, I created a virtual wind tunnel in SimScale to explore aerodynamic testing. Through this project, I gained hands-on experience in simulation techniques that mirror the methods used by F1 teams to enhance car efficiency and speed
        </p>
        <video controls id="simscale" autoplay loop muted>
            <source src="result.MP4">
        </video>
        <h1>CAD Software</h1>
        <p>
            As part of my CAD software project, I designed a basic 3D model of the International Space Station (ISS), developing fundamental skills needed for working with 3D design.
        </p>
    </div>
    