<!-- body text about me section -->
<h1 id="webtitle1">Welcome</h1>
<!-- body content -->
        <div class="body-text"> </div>

            
    <!-- Container element -->
    
            <div class="parallax"></div>
            <div style="height: 150px;" class="row">
                <h1 id="uniqueId" class="heading1">About Me</h1>
            </div>
            <div  class="row">
                <div id="aboutmep">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div id="placeholder1">
                    <img src="images/300x500placeholder.gif" alt="300x500placeholder">
                </div>
            </div>
            


            <div class="parallax2"></div>
       <div style="height: 150px;" class="row">
                <h1 id="experience" class="heading1">Work Experience</h1>
        </div>
        <div  class="row">
            

            <div id="mujumder">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div id="synergy">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>