<!-- body text about me section -->
<h1 id="webtitle1">Welcome</h1>
<!-- body content -->
        <div class="body-text"> </div>

            
    <!-- Container element -->
    
            <div class="parallax"></div>
            <div style="height: 150px;" class="row">
                <h1 id="uniqueId" class="heading1">About Me</h1>
            </div>
            <div  class="row">
                <div id="aboutmep">
                    <p>
                        Welcome! I’m Fida Fazilatun, a senior at the High School of American Studies at Lehman College, with plans to major in cybersecurity in college. My academic interests span algebra, calculus, and computer programming. Outside of school, I enjoy watching Formula 1, cooking, and creating origami.
                    </p>
                </div>
              
             
            </div>
            


            <div class="parallax2"></div>
       <div style="height: 150px;" class="row">
                <h1 id="experience" class="heading1">Extracirriculars</h1>
        </div>
        <div  class="row">
            

            <div class = "column" id="Track">
                <p>I’ve been a dedicated member of my high school’s track and field team for three years, practicing after school five days a week. This experience has strengthened my teamwork and support skills while significantly enhancing my endurance. </p>
            </div>
            <div class = "column" id="synergy">
                <p>
                    During the summer of my junior year, I worked at Synergy Prep, a tutorial service for SHSAT and SAT students. My responsibilities included teaching students in both SHSAT and SAT topics, preparing and organizing worksheets and test packets to ensure they reached the correct classes on time, and maintaining communication with parents about their child’s progress and grades. This role allowed me to develop strong organizational skills and gain experience in both instruction and parent communication.
                </p>
            </div>
            <div class = "column" id= "environmental club">
                <p>
                    For two years, I’ve been an active member of my school’s environmental club, where I managed the school’s compost bin, educating peers on proper waste disposal to support our school garden. Additionally, I led a team in assembling aquaponic growing towers and helped underclassmen understand and maintain optimal water pH levels for plant growth.
                </p>
            </div>
            
            
        </div>